# Datos de simulación JLD2
**/*.jld2

# Archivos comprimidos en zip y 7z
**/*.zip
**/*.7z

# Resultados en CSV 
results/**/*.csv
updates/**/*.csv

# Datos de bootstrap_methods 
bootstrap_methods/**/*.csv